langchain
langchain-core
langsmith

langserve

faiss-cpu
bs4
pypdf
streamlit
chromadb
dotenv
sse_starlette
uvicorn
fastapi

langchain_openai
langchain_groq
langchain_huggingface
langchain_community
langchain_chroma
langchain_text_splitters
